/**
 * CSS Reset
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--swd-font-family);
  font-size: var(--swd-font-size);
  line-height: var(--swd-line-height);
  color: var(--swd-primary-text);
  background: var(--swd-primary-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--swd-accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
